@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  margin: auto;
  max-width: 1574px;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 150px;
}

.logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #171616;
}

.cabecalho-navegation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho-navegation-ul {
  display: flex;
  gap: 49px;
}

.menu_2 {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #515151;
}

.menu {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #515151;
  opacity: 0.5;
}

.icones {
  display: flex;
  gap: 20px;
}

.principal {
  display: flex;
  padding: 0 150px;
}

.primeira-sessao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.primeira-sessao h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 53px;
  color: #171616;
  width: 300px;

  color: #171616;
}

.primeira-sessao h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #171616;
  margin-bottom: 15px;
}

.primeira-sessao p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 100px;

  color: #515151;
}

.primeira-sessao a {
  font-family: 'Poppins Medium';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.055em;
  color: #ffffff;
}

.area-da-compra {
  display: flex;
  flex-direction: row;
  gap: 41px;
}

.area-carrinho {
  display: flex;
  background-color: #000000;
  padding: 15px;
  border-radius: 50px;
}

.segunda-sessao {
  display: flex;
  flex: 1;
}

.terceira-sessao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.seta {
  display: flex;
}

.tabela {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tabela p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #515151;
}

.tabela-paragrafo {
  border-bottom: 1px solid;
}

.ingrendientes {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.testiomains {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

@media (max-width: 1440px) {
  .cabecalho nav {
    display: none;
  }

  .cabecalho {
    display: flex;
    justify-content: space-around;
  }

  .menu-mobile {
    padding: 20px 20px;
    color: white;
    background-color: #385131;
    border-radius: 20px;
  }

  .menu-mobile:hover {
    background-color: #8e1134;
  }

  .segunda-sessao {
    display: none;
    visibility: hidden;
  }

  .principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .primeira-sessao {
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    padding: 20px;
    border-radius: 25px;
  }

  .primeira-sessao h1 {
    color: #8e1134;
    font-size: 30px;
    width: 500px;
    text-align: center;
    margin-top: 30px;
  }

  .primeira-sessao h3 {
    color: #385131;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
  }

  .primeira-sessao p {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
  }

  .area-da-compra {
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .area-da-compra a {
    color: white;
    background-color: #385131;
    font-size: 25px;
  }

  .area-carrinho {
    padding: 20px 40px;
    font-size: 30px;
    color: red;
  }

  .area-da-compra img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }

  .terceira-sessao {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .terceira-sessao h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
  }

  .tabela-paragrafo {
    display: flex;
    text-align: center;
    font-size: 45px;
    padding-bottom: 70px;
  }

  .seta {
    display: flex;
    position: absolute;
  }

  .tabela {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
  }

  .tabela p {
    font-size: 20px;
  }

  .ingrendientes,
  .testiomains {
    padding-bottom: 25px;
  }
}

@media (max-width: 800px) {
  .icones {
    display: none;
  }

  .cabecalho {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 50px;
  }

  .logo {
    font-size: 20px;
    min-width: 157px;
  }

  .primeira-sessao h1 {
    font-size: 25px;
    margin-left: 50px;
  }

  .primeira-sessao h3 {
    font-size: 40px;
    margin-left: 30px;
  }

  .primeira-sessao p {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    min-width: 400px;
    margin-left: 50px;
  }

  .area-da-compra {
    display: none;
  }

  .area-da-compra a {
    color: red;
    font-size: 15px;
  }

  .tabela {
    margin-top: -50px;
    min-width: 400px;
    margin-left: 30px;
  }

  .tabela h3 {
    margin-top: -50px;
    font-size: 35px;
    color: #8e1134;
  }

  .tabela p {
    font-size: 20px;
    width: 400px;
    margin-left: 30px;
    border: none;
    margin-left: 80px;
  }

  .seta {
    display: none;
  }

  .ingrendientes {
    border-top: 1px solid;
    padding-top: 30px;
    margin-left: 30px;
  }

  .ingrendientes {
    border-top: 1px solid;
    padding-top: 30px;
    margin-left: 30px;
    align-items: center;
  }

  .testiomains {
    padding-top: 0px;
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .icones {
    display: none;
  }

  .cabecalho {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 50px;
  }

  .logo {
    font-size: 20px;
    min-width: 157px;
  }

  .principal {
    display: flex;
    margin-left: 50px;
  }

  .primeira-sessao h1 {
    font-size: 25px;
  }

  .primeira-sessao h3 {
    font-size: 40px;
  }

  .primeira-sessao p {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    min-width: 400px;
  }

  .area-da-compra {
    display: none;
  }

  .area-da-compra a {
    color: red;
    font-size: 15px;
  }

  .tabela {
    margin-top: -50px;
    min-width: 400px;
    margin-left: 5px;
  }

  .tabela h3 {
    margin-top: -50px;
    font-size: 35px;
    color: #8e1134;
  }

  .tabela p {
    font-size: 20px;
    width: 400px;
    margin-left: 30px;
    border: none;
  }

  .seta {
    display: none;
  }

  .ingrendientes {
    border-top: 1px solid;
    padding-top: 30px;
  }

  .ingrendientes {
    border-top: 1px solid;
    padding-top: 30px;

    align-items: center;
  }

  .testiomains {
    padding-top: 0px;
  }
}
